<breadcrumb-tag>
  <ul class="uk-breadcrumb uk-align-right">
    <li><a href="#">Bread</a></li>
    <li><a href="#">Crumb</a></li>
    <li class="uk-disabled"><a>Comming</a></li>
    <li><span>soon</span></li>
  </ul>

  <script>
    export default {
	onBeforeMount(props) { this.context = props.context },
    }
  </script>

</breadcrumb-tag>
